@page "/counter"

<h1>Counter</h1>

<p>Here you can spend your time while waiting for resolving of Error 429</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
