.e-panel-header[b-8711uzsbhf] {
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
}
.e-panel-content[b-8711uzsbhf] {
    text-align: center;
    margin-top: 10px;
}

.e-panel-content[b-8711uzsbhf] {
    
}

.chart[b-8711uzsbhf] {
    padding-top: 100px;
}