.name[b-np1dtf85y8] {
    position: absolute;
    padding-left: 70px;
}

.drop[b-np1dtf85y8] {
    display: flex;
    justify-content: space-between;
}

.searchbar[b-np1dtf85y8]
{
    position: relative;
    padding-top: 5px;
    padding-left: 15px;
}

.search[b-np1dtf85y8]
{
    flex-grow: 8;
}