.name {
    position: absolute;
    padding-left: 70px;
}

.drop {
    display: flex;
    justify-content: space-between;
}

.searchbar
{
    position: relative;
    padding-top: 5px;
    padding-left: 15px;
}

.search
{
    flex-grow: 8;
}