@page "/dashboard"
@inherits DashboardBase

<h3>Dashboard (@IsCompanyChosen)</h3>
<div>
    <DashboardSearch TickerName="@TickerName" OnCompanyChosen="CompanyChosenHandler"></DashboardSearch>


    <div class="chart">
        <StockChart TickerName="@TickerName"></StockChart>
    </div>

    @* <SfDashboardLayout CellSpacing="@(new double[] {10, 30})" Columns="4" AllowDragging="false"> *@
    @*     <DashboardLayoutPanels> *@
    @*         <DashboardLayoutPanel Row="1" SizeX="3"> *@
    @*             <ContentTemplate> *@
    @*                 <DashboardSearch TickerName="@TickerName"></DashboardSearch> *@
    @*             </ContentTemplate> *@
    @*         </DashboardLayoutPanel> *@
    @*         <DashboardLayoutPanel Row="2" SizeX="3" SizeY="2"> *@
    @*             <ContentTemplate> *@
    @* *@
    @*             </ContentTemplate> *@
    @*         </DashboardLayoutPanel> *@
    @*         <DashboardLayoutPanel Row="4" SizeX=2> *@
    @*             <ContentTemplate> *@
    @*                 <BlogPosts></BlogPosts> *@
    @*             </ContentTemplate> *@
    @*         </DashboardLayoutPanel> *@
    @*     </DashboardLayoutPanels> *@
    @* </SfDashboardLayout> *@

    <div>
        <BlogPosts></BlogPosts>
    </div>

</div>

<style>
    .chart {
        padding-top: 100px;
    }
</style>