@page "/pricedetails"

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-muted mb-1">From: </div>
            </div>
            <div class="col-md-3">
                <div class="text-muted mb-1">Open: </div>
            </div>
            <div class="col-md-3">
                <div class="text-muted mb-1">Close: </div>
            </div>
            <div class="col-md-3">
                <div class="text-muted mb-1">Volume: </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="text-muted mb-1">High:</div>
            </div>
            <div class="col-md-3">
                <div class="text-muted mb-1">Low:</div>
            </div>
            <div class="col-md-3">
                <div class="text-muted mb-1">After hours:</div>
            </div>
            <div class="col-md-3">
                <div class="text-muted mb-1">Pre-market:</div>
            </div>
        </div>
    </div>
</section>