@using ExportType = Syncfusion.Blazor.Charts.ExportType
@inherits StockChartBase;

<div class="container">
    @if (IsCompanyChosen && Data.Stocks != null)
    {
        <h3>Stonks</h3>

        if (Data.Stocks.Any())
        {
            <SfStockChart @ref="StockChart" Title="@Data.Company.Ticker" EnableSelector="false" ExportType="new List<ExportType>() {}">
            <StockChartSeriesCollection>
                <StockChartSeries
                    DataSource="@Data.Stocks"
                    Type="ChartSeriesType.HiloOpenClose"
                    XName="Date"
                    High="High"
                    Low="Low"
                    Open="Open"
                    Close="Close"
                    Volume="Volume"
                    Name="@Data.Company.Ticker">
                </StockChartSeries>
            </StockChartSeriesCollection>
        </SfStockChart>
    }
    else
    {
        <h3>No data about company's stocks found</h3>
    }
    }
</div>